:root {
  --purple: #bd93f9;
  --pink: #ff79c6;
  --background: #282a36;
  --current-color: #44475a;
  --light-color: #f8f8f2;
  --comment-color: #6272a4;
  --green: #50fa7b;
  --light-blue: #8be9fd;
  --yellow: #f1fa8c;
  --orange: #ffb86c;
  --red: #ff5555;
}

@media (max-width: 576px) { 
  .App .name {
    font-size: 28px;
  }
  .App .footer {
    font-size: 10.5px;
  }

  .App .hero {
    margin: 0;
    padding: 0;
  }

  .App .hero .title {
    font-size: 12px;
    top: -28px;
    margin-left: 35px;
  }
  .App .hero .title-name {
    font-size: 48px;
  }
  .Projects .switch {
    text-align: start;
  }

  .App .navbar {
    font-size: 12px;
   }

}

.switch {
  text-align: end;
}

p {
  font-size: 17px;
}

.hero {

  font-size: 19px;
  margin: 20px;

}

.App .title-name{
  font-size: 73px;
  letter-spacing: 1.1px;
}

.App .title {
  font-size: 17px;
  position: relative;
  top: -36px;
  margin-left: 63px;
}

.App .highlighted {
  font-weight: 600;
  font-style: italic;
}

.App .pink {
color: var(--pink);
}

.App .yellow {
  color: var(--yellow);
}

.App .green {
  color: var(--green);
}

.App .purple {
  color: var(--purple);
  }

  .App .light {
    color: var(--light-color);
  }

  .App .blue {
    color: var(--light-blue);
  }

  .App .comment {
    color: var(--comment-color);
  }

  .name {
    display: inline;
    font-size: 46px;
    position: relative;
    top: -16px;
  }

.App {
  font-family: monospace;
  text-align: center;
}

.App-header {
  color: var(--light-color)
}


.App .icons {
  margin: 5px 19px;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.Projects a:hover {
  color: var(--purple);
  transition: 0.4s;
  cursor: pointer;
}

.App a{
  text-decoration: none;
}

.App Button:hover  {
  background-color: var(--yellow);
  color: var(--background);
  border: solid transparent 1px;
  transition: 0.6s;
  cursor: pointer;
}

 .App Button{
  background-color: var(--background);
  color: var(--yellow);
  border: solid var(--yellow) 1px;
}

.App .contactButton {
  padding: 12px 28px;
  margin-bottom: 45px;
}

.App .Projects h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0;
  padding: 35px 0;
  color: var(--light-color);
}

.icons:hover {
  transition: 0.4s;
  cursor: pointer;
}


.hide {
  display: none;
}

.icons:hover + .hide {
  display: block;
  color: var(--comment-color)
}

.Typewriter__cursor {
  display: none;
}

.Typewriter {
  display: inline;
}

.Typewriter_wrapper {
  display: inline;
}

.App #backButton {
  position:absolute;
  bottom:5px;
  right:5px;
  margin:0;
  padding:5px 3px;
  color: #44475a79;
  font-size: xx-large;
}


#backButton:hover{
  color: var(--current-color);
  transition: 0.5s;
}
#backButton:active{
 color: var(--current-color);
}