body {
  font-size: 17px;
  background-color: var(--background);
  font-family: 'Courier New', Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
